.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
}

.App h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #333;
}

